<div class="container py -5">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-blue">Ejecución planes de control tributario</div>

        <form id="formulario_tramite" class="form-padding">
            <div class="col-xs-12">
                <p class="instrucciones_formularios_ct">Recuerde que los campos marcados con <span
                        class="sp-requerido">*</span> son requeridos.</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="group-material">
                        <span>Tipo de proceso<span class="sp-requerido">*</span></span>
                        <select name="id_tipo_proceso" id="id_tipo_proceso" class="tooltips-general material-control"
                            required="" data-toggle="tooltip" data-placement="top" title="Elija el tipo de proceso"
                           >
                            <option value="" disabled="" selected="">Selecciona tipo de proceso</option>
                            <option [value]="dato" *ngFor="let dato of tipoProcesoList">
                                {{dato.tipoProcesoId}}
                                {{dato.descripcionProceso}}
                            </option>
                        </select>
                        <input type="hidden" name="tipo_proceso" id="tipo_proceso" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="group-material">
                        <span>Tipo de plan<span class="sp-requerido">*</span></span>
                        <select name="id_tipo_plan" id="id_tipo_plan" class="tooltips-general material-control"
                            required="" data-toggle="tooltip" data-placement="top" title="Elija tipo de plan"
                            >
                            <option value="" disabled="" selected="">Selecciona el tipo de plan</option>
                            <option [value]="dato" *ngFor="let dato of tipoPlanList">
                                {{dato.tipoPlanId}}
                                {{dato.descripcionPlan}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="group-material">
                        <span>Tipo de contribuyente<span class="sp-requerido">*</span></span>
                        <select [(ngModel)]="planObj.tipo_contribuyente_id" name="id_tipo_contribuyente"
                            id="id_tipo_contribuyente" class="tooltips-general material-control" required=""
                            data-toggle="tooltip" data-placement="top" title="Elija el tipo de contribuyente"
                            onchange="">
                            <option value="" disabled="" selected="">Selecciona el tipo de contribuyente</option>
                            <option [value]="dato" *ngFor="let dato of tipoContribuyenteList">
                                {{dato.tipoContribuyenteId}}
                                {{dato.descripcionContribuyente}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="group-material">
                        <span>Descripción del Plan<span class="sp-requerido">*</span></span>
                        <textarea id="descripcion_plan" [(ngModel)]="planObj.descripcion_plan" name="descripcion_plan"
                            rows="1" class="tooltips-general material-control" placeholder="Persuasivo " required=""
                            data-toggle="tooltip" data-placement="top" title="Escriba la descripcion del plan"
                            onKeyUp="this.value = this.value.toUpperCase();"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="group-material">
                        <input [(ngModel)]="planObj.valor_desde" id="valor_desde" name="valor_desde" min="0"
                            type="number" class="tooltips-general material-control" placeholder="Por ejemplo: 10"
                            required="" maxlength="70" data-toggle="tooltip" data-placement="top"
                            title="Escriba la cantidad" onKeyUp="this.value = this.value.toUpperCase();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Valor desde<span class="sp-requerido">*</span></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="group-material">
                        <input [(ngModel)]="planObj.valor_hasta" id="valor_hasta" name="valor_hasta" min="0"
                            type="number" class="tooltips-general material-control" placeholder="Por ejemplo: 10"
                            required="" maxlength="70" data-toggle="tooltip" data-placement="top"
                            title="Escriba la cantidad" onKeyUp="this.value = this.value.toUpperCase();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Valor hasta<span class="sp-requerido">*</span></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="group-material">
                        <input [(ngModel)]="planObj.materialidad" id="materialidad" name="materialidad" min="0"
                            type="number" class="tooltips-general material-control" placeholder="Por ejemplo: 10"
                            required="" maxlength="70" data-toggle="tooltip" data-placement="top"
                            title="Escriba la cantidad" onKeyUp="this.value = this.value.toUpperCase();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Materialidad<span class="sp-requerido">*</span></label>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="group-material">
                    <span>Ejercicio fiscal<span class="sp-requerido">*</span></span>
                </div>
                <div class="row">
                    <!-- checkbox -->
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <label><input [(ngModel)]="planObj.checkbox_2018" type="checkbox" name="opciones_analisis[]"
                                    value="1"> 2018</label>
                        </div>
                    </div>
                    <!-- End: checkbox -->
                    <!-- checkbox -->
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <label><input [(ngModel)]="planObj.checkbox_2019" type="checkbox" name="opciones_analisis[]"
                                    value="2"> 2019</label>
                        </div>
                    </div>
                    <!-- End: checkbox -->
                    <!-- checkbox -->
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <label><input type="checkbox" name="opciones_analisis[]" value="3"> 2020</label>
                        </div>
                    </div>
                    <!-- End: checkbox -->
                    <!-- checkbox -->
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <label><input type="checkbox" name="opciones_analisis[]" value="4"> 2021</label>
                        </div>
                    </div>
                    <!-- End: checkbox -->
                    <!-- checkbox -->
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <label><input type="checkbox" name="opciones_analisis[]" value="5"> 2022</label>
                        </div>
                    </div>
                    <!-- End: checkbox -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">
                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i
                                class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                        <button type="button" id="guardar" value="Guardar" class="btn btn-primary"
                            (click)="getPlanes()"><i class="zmdi zmdi-arrow-right"></i> &nbsp;&nbsp; Consultar Registros
                            Plan</button>
                        <button type="button" id="siguiente" value="Siguiente" class="btn btn-primary"
                            (click)="getPlanes()"><i class="zmdi zmdi-arrow-right"></i> &nbsp;&nbsp; Ejecutar
                            Plan</button>
                    </p>
                </div>
            </div>
            <div id="divTributo" class="col-xs-5" style="display:none">
                <div class="col-xs-12">
                    <legend><i class="zmdi zmdi-grid"></i> &nbsp; Listado de planes</legend>
                </div>
                <table id="example" class="cell-border" class="table mx-auto">
                    <thead>
                        <tr>
                            <th>RUC</th>
                            <th>Razón Social</th>
                            <th>Periodo</th>
                            <th>Base Imponible</th>
                            <th>Total Patrimonio Neto</th>
                            <th>Potencial Recaudar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let user of planListEmailInscripcion">
                    <td>{{ user.numeroRuc }}</td>
                    <td>{{ user.razonSocial }}</td>
                    <td>{{ user.periodo }}</td>
                    <td>{{ user.baseImponible }}</td>
                    <td>{{ user.totalPatrimonioNeto }}</td>
                    <td>{{ user.potencialRecaudar }}</td>
                  </tr> -->
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>